language: go
sudo: false
go:
- "1.9"
- "1.10"
- tip
script:
- make ci
notifications:
  slack:
    secure: G3fe9/tw+xT6ggj4PXt9PJZkSO5lQDqVeOy0mXbdk4gyRQZLcLEnve8usyBkItDB/NnND6hj7y8iRyDag1f7io4A63bBtpT0e6d66VkSWof++Fes03HLjazijhptmyXFWaZj4YVy5T75ZR8J4cLYjdYE9exeuzQ8oJtL1/WWQf8=
